<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/DefaultLayout">

<body>
<section layout:fragment="content">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de vendas
			</h1>
		</div>
	</div>

	<div class="container-fluid">
	
		<div class="alert  alert-success  alert-dismissible" role="alert" th:if="${not #strings.isEmpty(message)}" >
			<button type="button" class="close" data-dismiss="alert" ><span aria-hidden="true">&times;</span></button>
			<span th:text="${message}"></span>
		</div>
	
		<form th:method="post" th:object="${sale}" class="form-vertical  js-form-loading" th:action="@{/sale/new}">
			
			<div class="alert  alert-danger  alert-dismissible" role="alert" th:if="${#fields.hasAnyErrors()}">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<th:block th:each="error : ${#fields.detailedErrors()}">
					<div>
						<i class="fa  fa-exclamation-circle"></i> 
						<span th:text="${error.message}"> </span>
					</div>
				</th:block>
			</div>
			
		    <div class="row">
				<div class="col-sm-5 form-group">
					<label for="name">Nome</label>
					<input id="name" type="text" class="form-control" th:field="${customer.name}"/>
					<input id="name" type="hidden" class="form-control" th:field="${customer.id}"/>
				</div>
			</div>
			 
			<div class="row">
				<div class="col-sm-4 form-group" th:classappend="${#fields.hasErrors('price')} ? has-error">
					<label for="price">Valor*</label>
					 <div class="input-group">
						<span class="input-group-addon">R$</span>
						<input id="price" type="text" class="form-control js-currency"  th:field="*{price}"/>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-4 form-group" th:classappend="${#fields.hasErrors('date')} ? has-error">
					<label for="date">Data*</label>
					<div class="input-group">
					<span class="input-group-addon fa fa-calendar"></span>
						<input id="date" type="text" class="form-control" th:field="*{date}"					
							data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
							data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom"/>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<button class="btn  btn-success" type="submit">Salvar</button>
				<a th:href="@{/customer/negociating}" class="btn  btn-default">Voltar</a>
			</div>
		</form>
	</div>

</section>
<th:block layout:fragment="extrascript">
	<script th:src="@{/layout/javascripts/sale-creation.js}"></script>
</th:block>
</body>
</html>