<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/DefaultLayout">

<body>

<section layout:fragment="content">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>
						Bem vindo(a) ao sistema de controle de vendas!
					</h1>
					<h5>
						Acesse o menu lateral para iniciar.
					</h5>
				</div>
			</div>
		</div>
	</div>

</section>

</body>
</html>

