<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/DefaultLayout">
	
<head>

</head>
<body>

<section layout:fragment="content">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>
						Pesquisa de clientes
					</h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a th:href="@{/customer/new}" class="btn btn-success">
							<i class="fa fa-lg fa-user-plus"></i> <span class="hidden-xs  hidden-sm">Novo cliente</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">

		<form method="GET" th:object="${customer}" th:action="@{/customer/find}" class="form-vertical  js-form-loading">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label>Nome </label>
						<div class="form-inline">
							<input id="name" name="name" type="text" class="form-control  aw-form-control-inline-sm" placeholder=""/>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label>Telefone</label>
						<div class="form-inline">
							<input id="phone" name="phone" type="text" class="form-control  aw-form-control-inline-sm" placeholder=""/>
						</div>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<button class="btn  btn-success" type="submit">
					Pesquisar
				</button>
			</div>
		</form>
	
		<div class="row  aw-datatable-toolbar">
			<div class="col-xs-8">
			
				<!-- modal EMAIL -->
				<div id="emailModal" class="modal fade" role="dialog">
				  <div class="modal-dialog">
				    <div class="modal-content">
					     <div class="modal-header" style="background-color:#5cb85c;">
					        <button type="button" class="close" data-dismiss="modal">&times;</button>
					        <h4 class="modal-title" style="color:white;"> Exportar para Email</h4>
					      </div>
					      <div class="modal-body">
						  <div class="form-group">
							<div class="row ">
								<div class="well-sm col-sm-8 col-lg-offset-2 form-group">
									<label for="emailModal_email"> Email: </label> 
									<input id="emailModal_email" name="emailModal_email" type="text" class="form-control"/>
								</div>
							</div>
						 </div>
					      </div>
					      <div class="modal-footer">
					        <button id="emailModal_btn_send" class="btn btn-success" data-dismiss="modal">Enviar</button>
					      	<button class="btn btn-default" data-dismiss="modal">Cancelar</button>
					      </div>
				    </div>
				  </div>
				</div>
				<!-- /modal EMAIL-->
				
				<!-- modal EMAIL confirmation-->
				<div id="emailConfirmationModal" class="modal fade" role="dialog">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-body">
						<div class="row">
							<h2 style="text-align: center;">Email enviado com sucesso!</h2>
						</div>
				      </div>
				      <div class="modal-footer">
				        <button id="btn-save" type="submit" class="btn btn-success" data-dismiss="modal">OK</button>
				      </div>
				    </div>
				  </div>
				</div>
				<!-- /modal EMAIL confirmation-->
			
				<!-- modal DELETE confirmation-->
				<div id="deleteModal" class="modal fade" role="dialog">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-body">
						<div class="row">
							<h3 style="text-align: center;">Tem certeza que deseja excluir esse(s) cliente()?</h3>
						</div>
				      </div>
				      <div class="modal-footer">
				        <button id="deleteModal_btn_delete" name="deleteModal_btn-delete" class="btn btn-danger" >Excluir</button>
				        <button type="submit" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				      </div>
				    </div>
				  </div>
				</div>
				<!-- /modal DELETE confirmation-->
			
				<div class="btn-group">
				  <button type="button" class="btn  btn-default  btn-sm  dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				    <i class="fa fa-lg  fa-filter  visible-md-inline  visible-lg-inline"></i> <span>Filtrar</span>
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a th:href="@{/customer/negociating}">Clientes em negociação</a></li>
				    <li><a th:href="@{/customer/accepted}">Clientes aceitos </a></li>
				    <li><a th:href="@{/customer/refused}">Clientes recusados</a></li>
				    <li><a th:href="@{/customer}">TODOS OS CLIENTES</a></li>
				  </ul>
				</div>
				<div class="btn-group">
				  <button type="button" class="btn  btn-default  btn-sm  dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				    <i class="fa fa-lg  fa-share  visible-md-inline  visible-lg-inline"></i> <span>Exportar</span>
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li>
				    	<a href="#" data-toggle="modal" data-target="#emailModal">Para Email
				    	</a> 
				    </li>
				    <li>
					    <a href="#" data-toggle="modal" data-target="#deleteModal">Para Lixeira
					    </a>
				    </li>
				  </ul>
				</div>
			</div>
		</div>
		
		<div class="table-responsive container-fluid">
			<table id="table-customers" class="table  table-striped  table-bordered  table-hover  table-condensed js-sticky-table">
				<thead class="aw-table-header-solid">
					<tr>
						<th class="aw-table-checkbox"> <input type="checkbox" id="selectAll"></input>	</th>
						<th class="text-center"> Cod.</th>
						<th class="text-center"> Nome</th>
						<th class="text-center"> Telefone</th>
						<th class="text-center"> Assunto</th>
						<th class="text-center"> Status</th>
						<th class="text-center"> Ações</th>
					</tr>
				</thead>
				<tbody>
						<tr th:each="customer : ${customers}">
							<td class="aw-table-checkbox"><input type="checkbox" class="checkBox" name="checkBox[]" th:value="${customer.id}"/></td>
							<td th:text="${customer.code}">Codigo</td>
							<td th:text="${customer.name}">Nome</td>
							<td th:text="|85 ${customer.phone}|">Telefone</td>
							<td th:text="${customer.note}">Descrição</td>
							<td th:text="${customer.status.desc}">Status</td>
							<td class="table-pesq-produto-col-acoes">
								<div class="btn-group">
									<a th:href="@{'/customer/{id}'(id=${customer.id})}"	class="btn  btn-default btn-xs"> 
										<i class="fa fa-lg  fa-pencil"> </i> Editar
									</a>
									<button type="button"
										th:onclick="'getCustomerId(\'' + ${customer.id} + '\');'"
										class="btn-modal btn  btn-default btn-xs">
										<i class="fa fa-lg  fa-check" style="color: #5cb85c;"> </i>
										Fechar venda
									</button>
									
									<!-- modal SALE -->
									<div id="saleModal" class="modal fade" role="dialog">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header" style="background-color: #5cb85c;">
													<button id="btn-close" type="button" class="close" data-dismiss="modal">&times;</button>
													<h4 class="modal-title" style="color: white;">Confirmação de Venda</h4>
												</div>
												<form id="sale-form" class="sale-form">
													<div class="modal-body">
														<div class="form-group">
															<div class="row well-sm">
																<div class="col-md-8 col-lg-offset-2 form-group">
																	<label>Nome do cliente</label> 
																	<input id="_name" name="_name" type="text" class="_name form-control" />
																</div>
															</div>
															<div class="row  well-sm">
																<div class="col-sm-8 col-lg-offset-2 form-group">
																	<label>Valor do plano</label> 
																	<input id="_price" name="_price" type="text" class="_price form-control"	placeholder="R$" />
																</div>
															</div>
															<div class="row well-sm">
																<div class="col-sm-8 col-lg-offset-2 form-group">
																	<label>Data de venda</label> 
																	<input id="_date" name="_date" type="text" class="_date form-control" placeholder="aaaa-MM-dd" />
																</div>
															</div>
														</div>
													</div>
													<div class="modal-footer">
														<button id="btn-save" type="submit"	class="btn btn-success" data-dismiss="">Confirmar</button>
														<button id="btn-cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
													</div>
												</form>
											</div>
										</div>
									</div>
									<!-- /modal SALE-->
									
									<!-- modal SALE confirmation-->
										<div id="SaleConfirmationModal" class="modal fade" role="dialog">
										  <div class="modal-dialog">
										    <div class="modal-content">
											      <div class="modal-body">
													<div>
														<h4>Já existe uma venda para esse cliente. 
														Você deseja fechar uma nova venda?</h4>
													</div>
											      </div>
											      <div class="modal-footer">
											        <button id="btn-newSale" type="submit" class="btn btn-success" data-dismiss="modal">OK</button>
											        <button type="submit" class="btn btn-default" data-dismiss="modal">Cancelar</button>
											      </div>
										    </div>
										  </div>
										</div>
									<!-- /modal SALE confirmation-->
								
								</div>
							</td>
						</tr>
						<tr th:if="${customers.empty}">
						<td colspan="7">Nenhum cliente a apresentar</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>

<th:block layout:fragment="modalscript">
	<script th:src="@{/layout/javascripts/customer-list.js}"></script>
</th:block>

</body>
</html>

